*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

#body{
  min-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  position: relative;
  font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.Welcome {
  color: white;
}
.container-main {
  margin-top: 146px;
  background-color: rgb(58,181,74);
  border-left: 4px solid rgb(58,181,74);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin-left: 10px;
}

.header{
  color: rgb(7, 7, 7);
  font-weight: 900;
  width: 100%;
  text-align: center;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 30px;
  margin-bottom: 30px;
}
.ButtonBases {
  width: 90%; 
  padding: 25px;
  padding-left: 10px;
  padding-right: 25px;
  box-sizing: border-box;
  margin: 0 .5em 0 .5em;
}

.header-title{
  font-size: 50px;
}

.header-text{
  font-size: 20px;
  padding: 10px;
  margin-top:290px;
  font-weight: 900;
  color: white;
}

.section{
    flex-flow: row wrap;
    width: 90%;
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 46px;
    color: white;
    background-color: rgb(58,181,74);
    border-radius: 25px;
    border: 0.1px solid rgb(0, 0, 0);
    margin: 30px;
    padding-top: 10px;
    font-size: 18px;
}


.big-div {
  width: 70%;
  margin-bottom: 30px;
  color: white;
    font-weight: 800;
}

.small-div {
  width: 10%;
  margin-bottom: 1px;
  color: white;
  border: none;
}

.bg-grey{
margin-bottom: 10px;
color: white !important;

}

.bg-grey-second{
margin-bottom: 130px;
color: white !important;

}

.bg-green{
margin-bottom: 10px;
color: black !important;
}


.div-title {
  font-size: 30px;
  font-weight: 600;
  
}
.div-blue {
  padding: 30px;
  padding-left: 50px;
}

.contact-container  {
  flex-flow: column;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  width:80%;
  
}
.div-title{
  text-align: center;
}


.contact-form{
  display: flex;
  flex-direction: row;
  /*flex-flow: row wrap;*/
  justify-content: space-between;
  width:100%;
}

#sect1{
  width: 100%;
}

#sect2{
  width:100%;
}

.contact-form > div {
  width: 500px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

.input-field {
  height: 40px;
  margin: 15px 0;
}


@media only screen and (min-width:320px) and (max-width:725px){
  .contact-form{
    display: flex;
    flex-direction: column;
    width:80%;
  }

  .section{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
  }
  .ButtonBases {
  width: 80%; 
  padding: 1px;
  padding-left: 0px;
  padding-right: 35px;
  box-sizing: border-box;
  
}
}

.btn-about {
  margin-bottom: 40px;
}

#btn-align {
  margin-bottom: 10px;
}


