*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

html, body {
    --hue: var(--hue-neutral);
    background-color: #ffffff;
    height: 100vw;
    margin: 0;
    background-image: url(./components/assets/images/nature.webp);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: #212121;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 28px;
    font-display: swap
}

h3 {
    font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: #333333;
    margin-left: 10px;
    text-align: center;
    padding-top: 20px;
    font-size: 28px;
}

h5 {
    font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: #212121;
    margin-left: 10px;
    text-align: center;
    font-size: 20px;
}
.aboutDescriptionParagraph{
    font-size: 18px;
    line-height: 115%;
    text-align: justify;
    word-spacing: normal;
    margin-top: 40px;
    margin-bottom: 40px;
}
/* These rules take effect when the browser's width */
/* is either 225px or more. */
@media screen and (min-width: 225px) {
    /* The body background color will be #ff0000 */
    body {
        background-color: #ff0000;
        height: 100%;
    }
    .container,
    .footer {
        width: 100%;
        padding-bottom: 80px;
    }
    p {
        font-size: 16px;
        line-height: 100%;
        text-align: center;
        word-wrap: break-word;
    }
    #currentTime {
        margin-top: 0;
    }
    .labelText {
        font-size: 20px;
    }
    .aboutDescriptionParagraph{
    font-size: 19px;
    line-height: 115%;
    text-align: justify;
    word-spacing: normal;
}
}
/* These rules take effect when the browser's width */
/* is either 320px or more. */
@media screen and (min-width: 320px) {
    /* The body's bg color will be #4caf50 */
    body {
      background-color: #4caf50;

        width: 100%;
    } 

    h1 {
        text-align: center;
    }
    

    /* The container width will be 576px */
    .container {
      width: 100%;
      padding-bottom: 80px;
    }
    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 115%;
    }
    .ListItems{
        font-size: 16px;
        line-height: 135%;
    }
    #currentTime {
        margin-top: 0;
    }
    .labelText {
        font-size: 20px;
    }
}
/* These rules take effect when the browser's width */
/* is either 576px or more. */
@media screen and (min-width: 576px) { */
    /* The body's bg color will be #fca203 */
    body {
      background-color: #fca203;

        width: 100%;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
        line-height: 115%;
        text-align: center;
    }
    #currentTime {
        margin-top: 0;
    }
}
/* These rules take effect when the browser's width */
/* is either 768px or more. */
@media screen and (min-width: 768px) {
    /* The body's bg color will be #e803fc */
    body {
      background-color: #e803fc;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 18px;
        text-align: center;
    }
    #currentTime {
        margin-top: 30px;
    }
}
/* These rules take effect when the browser's width */
/* is either 992px or more. */
@media screen and (min-width: 992px) {
    /* The body's bg color will be #03fcf2 */
    body {
      background-color: #03fcf2;
    }

    h1 {
        font-size: 35px;
    }

    p {
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        word-wrap: break-word;
    }
   .ListItems{
        font-size: 17px;
        line-height: 135%;
    }
    #currentTime {
        margin-top: 30px;
    }
}

/* Extra small (xs) devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small (sm) devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

/* Medium (md) devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* Large (lg) devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* Extra (xl) large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */