

.sectionTwo {
  margin-top: 40px;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
}
.PhotoGallery {
    padding-top: 20px;
}
.aboutDescription  {
    color:white
    
}
/* .outerContainer {
    height: 100vw;
} */
.aboutHeader {
    padding-top: 60px;
    text-align: center;
    font-size: 48px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-display: swap
}
@media only screen and (min-width:320px) and (max-width:725px){
  .container-about {
  padding: 1px;
  margin: 1px;
}
}
.container-about {
  background-color: rgb(58,181,74);
  border-radius: 25px;
  border: 1px solid rgb(0, 0, 0);
  padding:10px;
  margin:60px;
  margin-bottom:50px;
  flex-flow: column;
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
  width:100%;
  margin-left: 1px;
}

.bg-near-white {
  background-color: #f4f4f4;
}

.intrinsic {
  display: block;

  position: relative;
  height: 0;
  width: 100%;
}

.intrinsic--square {
  padding-top: 100%;
}

.intrinsic--4x3 {
  padding-top: 75%;
}

.intrinsic--3x2 {
  padding-top: 66.6%;
}

.intrinsic-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img {
  max-width: 100%;
}

.relative {
  position: relative;
}

.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
/* Animations */
.animated {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
#wrap{
  background-color: #ddd;
  padding: 50px 0;
}
img{
    width: 100%;
  }
#slider{
  width: 300px;
  margin: 0 auto;
  
}
.ListItems {
  font-weight: 700;
  margin-top: 50px;
}