
.landing-grid-about {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 60px;
}
.gm-style-pbc {
  padding: 20px;
  margin-top: 200px;
  border: 6px solid black
}
.hrLocation {
  padding-top: 20px;
  padding: auto;
  padding-left: 30px
}
.imgContainer{
  padding-left: 100px;
}

.google-plus {
    margin-bottom: 30px;
}
h1, .a {
  color: white
}
.google-apps {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 120px;
}
.LocationFinePrint{
  margin-right: 40px;
  margin: 10px;
}
@media (max-width: 767.98px) {
  .google-apps {
      margin-left: 20px;
      margin-right: 20px;
}
 }
@media (min-width: 992px) { 
  .google-apps {
      margin-left: 20px;
      margin-right: 20px;
}
 }
.img-about {
 padding-left: 50%;
}
.hrAbout {
  width: 80%;
  margin: auto;
  padding-top: 10px;
}
